aiodns==3.0.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
anyio==3.6.2
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
backtrader==1.9.78.123
beautifulsoup4==4.12.0
black==23.3.0
blinker==1.6.2
branca==0.6.0
bs4==0.0.1
cachetools==5.3.1
ccxt==3.1.41
certifi==2023.7.22
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
click-plugins==1.1.1
cligj==0.7.2
coinbase==2.1.0
colorama==0.4.6
colour==0.1.5
colourmap==1.1.14
contourpy==1.1.0
coverage==7.2.7
croniter==1.4.1
cryptography==41.0.1
cycler==0.11.0
d3blocks==1.2.13
d3graph==2.4.6
dash==2.10.2
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
deprecation==2.1.0
distlib==0.3.6
docopt==0.6.2
elasticgraph==0.2.0
entrypoints==0.4
exceptiongroup==1.1.2
Faker==18.3.2
fastapi==0.95.1
fastquant==0.1.8.1
favicon==0.7.0
filelock==3.12.2
Fiona==1.9.4.post1
Flask==2.2.5
folium==0.14.0
fonttools==4.41.1
frozendict==2.3.8
frozenlist==1.3.3
geographiclib==2.0
geopandas==0.13.2
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.32
h11==0.14.0
htbuilder==0.6.1
html5lib==1.1
identify==2.5.24
idna==3.4
importlib-metadata==6.8.0
iniconfig==2.0.0
ismember==1.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
kiwisolver==1.4.4
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
markdownlit==0.0.5
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
missingno==0.5.2
more-itertools==9.1.0
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
neo4j==5.7.0
networkx==3.1
nltk==3.8.1
nodeenv==1.8.0
numpy==1.25.1
oauthlib==3.2.2
packaging==23.1
pandas==2.0.3
pathspec==0.11.1
patsy==0.5.3
Pillow==9.5.0
pipreqs==0.4.11
platformdirs==3.5.3
plotly==5.15.0
plotly-express==0.4.1
pluggy==1.2.0
pprintpp==0.4.0
pre-commit==3.3.3
protobuf==4.23.4
pyarrow==12.0.1
pycares==4.3.0
pycountry==22.3.5
pycountry-convert==0.7.2
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.7
pydeck==0.8.0
Pygments==2.15.1
pymdown-extensions==9.10
Pympler==1.0.1
pyparsing==3.0.9
pyproj==3.6.0
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-mock==3.11.1
python-dateutil==2.8.2
python-louvain==0.16
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
referencing==0.30.0
regex==2023.6.3
repoze.lru==0.7
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rpds-py==0.9.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semver==3.0.0
shapely==2.0.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
st-annotated-text==3.0.0
starlette==0.26.1
statsmodels==0.13.5
streamlit==1.25.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-folium==0.13.0
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-lottie==0.0.3
streamlit-modal==0.1.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tenacity==8.2.2
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
tweepy==4.14.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
Unidecode==1.3.6
urllib3==2.0.4
uvicorn==0.22.0
validators==0.20.0
virtualenv==20.23.0
watchdog==3.0.0
webencodings==0.5.1
Werkzeug==2.2.3
wordcloud==1.9.2
xlrd==2.0.1
yarg==0.1.9
yarl==1.9.2
yfinance==0.2.20
zipp==3.16.2
